{% extends 'base_layout2.html' %}

{%block head %}
    <title>{{request.user}}</title>
{% endblock %}

{% block content %}
      <h1>{{request.user}}</h1>
    <div class="posts">
      {% for post in posts %}
        {% if request.user.username == post.author.username %}
          <div class= "container">
            <h2 ><a href="{% url 'accounts:profile'%}" class="post-user">{{post.author.username}}</a></h2>
            <p class="post-body">{{post.body}}</p>
            {% if post.thumb != 'download.jpg' %}
              <img src="{{post.thumb.url}}"/>
            {% endif %}
            <!-- <p><a href="{%  url 'posts:timeline' %}" class="likes">Like</a></p> -->
            <!-- <input type="button" -->
            <p class="post-date">{{post.date}}</p>
            <!-- <img src="{{ post.thumb }}"/> -->
            <!-- #template tag for outputing data -->
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endblock %}

{% block bar %}
<li><a href="{% url 'accounts:edit_my_profile' %}">Edit Profile</a></li>
<li><a href="{% url 'accounts:edit_my_password' %}">Change Password</a></li>
<li><a href="{% url 'accounts:about_me' %}">About Me</a></li>
{% endblock %}
